.like-button,
.edit-link,
.delete-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

.like-button:focus,
.like-button:active,
.edit-link:focus,
.edit-link:active,
.delete-button:focus .delete-button:active {
  outline: none;
}

.like-button i,
.edit-link i,
.delete-button i {
  padding: 0 2px;
}
