html,body {
    position:relative;
    margin:0;
    padding:0;
    overflow:auto;
}

.navbar {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
    right:0;
}

.linkList {
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links {
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #2c3e50;
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
}

.links:hover {
    color: #9198e5;
}

.active {
    color: #9198e5;
}

.left {
    grid-column-start: 1;
}

.middle {
    grid-column: 2;
    display: flex;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    height: 30px;
    border: none;
    width: 260px;
    margin-right: 20px;
    outline: none;
    border-radius: 0.5em;
}

.searchBtn{
    height: 30px;
    background: linear-gradient(260deg, var(--light-blue), #9198e5);
    border: none;
    padding: 0 26px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    font-size: 0.8rem;
    cursor: pointer;
}


.navBtn {
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    color: #2c3e50;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
}

.right {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
}

.profile-button {
    position: relative;
}

.profile-button__trigger {
	border: none;
	padding-left: 0;
    font-size: 14;
    width: 2rem;
	background-color: transparent;
}

.profile-button__trigger:focus,
.profile-button__trigger:active {
    outline: none;
}

.profile-button__dropdown {
	position: absolute;
	z-index: 2;
	background: white;
	box-sizing: content-box;
	right: 0;
	top: 32px;
	border-radius: 3px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.06);
	border: 1px solid #d5dce0;
	max-width: calc(100vw - 24px);
	width: max-content;
	padding: 5px 0;
    text-decoration: none;
    list-style-type: none;
}

.right .profile-button__dropdown li {
	padding: 6px 22px;
	text-align: left;
	margin: 0;
}

.profile-button__dropdown li .button {
    border: 0;
    background: linear-gradient(260deg, var(--light-blue), #9198e5);
    color: var(--white);
    line-height: 30px;
    border-radius: .5rem;
}

.footer {
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    position: relative;
    left: 0;
    right:0;
    bottom: 0;
}
