html,body {
    position:relative;
    margin:0;
    padding:0;
    overflow:auto;
}

.navbar {
    max-height: 65px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}

.linkList {
    max-height: 65px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links {
    max-height: 65px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #2c3e50;
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
}

.links:hover {
    color: #9198e5;
}

.active {
    color: #9198e5;
}

.left {
    grid-column-start: 1;
}

.middle {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.searchForm {
    width: 100%;
    display: flex;
}

#searchInput {
    height: 30px;
    border: none;
    width: 260px;
    margin-right: 20px;
    outline: none;
    border-radius: 0.5em;
}

.searchBtn{
    background: #0BDDFA;
    border: none;
    padding: 0 26px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 7px 12px -4px var(--accent-light-blue);
    transition: all 0.3s ease-in-out;
    font-size: 0.8rem;
    cursor: pointer;
}


.navBtn {
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    color: #2c3e50;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
}

.right {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
