.wholePageContainer {
  height: 100%;
  width: 100%;
}

.bodyContainer {
  margin: auto;
  width: 1300px;
  height: 610px;
  display: flex;
}

.songPageContainer {
  width: 800px;
  height: 450px;
  margin: auto;
  padding-bottom: 50px;
  padding: 0.5rem;
  border: 1px solid #f2f2f2;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

.description {
  padding-left: 20px;
  margin: auto;
  /* align-content: space-around; */
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#coverArt {
  width: 250px;
}

.songholder {
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-gap: 10px;
}

.profileLink {
  font-size: 18px;
  text-decoration: none;
}

.feed .like-button {
  border: none;
}
