.song_form-outer {
	margin: auto;
    width: 1300px;
    height: 610px;
	/* margin-top: 130px; */
	display: flex;
	justify-content: center;
}
.song-form_container {
	width: 800px;
    height: 450px;
    margin: auto;
    padding-bottom: 50px;
	padding: 0.5rem;
	border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);

	/* padding: 20px;
	border: 1px solid #f2f2f2;
	box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
	max-width: 700px;
	width: 100%;
	margin: auto; */
}

.song-form {
	display: grid;
	grid-template-columns: 3fr 5fr;
	grid-gap: 20px;
	grid-template-areas:
		"image field1"
		"image field2"
    "song song"
    "button button";
}

.upload_song-button {
	background: linear-gradient(260deg, var(--light-blue), #9198e5);
	border: none;
	border-radius: 0.15rem;
	padding: 10px 25px;
	color: white;
	margin: auto;
}
.song-form__title{
	grid-area: field1;
}
.song-form__description{
	grid-area: field2;
}

.song-form__image{
	grid-area: image;

}
.song-form__audio{
	grid-area: song;
}
.song-form__submit{
	grid-area: button;
	display:flex;
	justify-content: center;

}
.drop {
	width: 100%;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:15px;
	text-align: center;
	box-sizing: border-box;
	border-style:dashed;
	border-radius: 0.40em;
  border-color:#2c003a;
  border-width:2px;
  background-color:var(--input-background);
	color:#462a51;
}
.drop button i {
	font-size: 1rem;
}
.drop i {
	font-size: 3rem;
}
.drop p {
	margin-bottom: 0;
}

.song-form__title input[type="text"], .song-form__description textarea{
	background-color: var(--input-background);
	border-radius: 0.25em;
	width: 100%;
	height: 100%;
	border-color: #462a51 ;
	border-width: 1px;

}
