/* TODO Add site wide styles */
body {
	--dark-blue: #2C3E50;
  --light-blue: #3BC9F5;
  --accent-light-blue: #81d1ff;
  --white: #FFFFFF;
  --input-background: #fdfbfb;
  --black: #000000;
  --background: #1F2528;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: var(--background); */
}

textarea, input{
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5rem;
  box-sizing: border-box
}
